/******CONTACT US SECTION******/
.contact form {
    width: 70%;
    margin: 0px auto;
    text-align: center;
}
.contact input,
textarea {
    width: 80%;
    float: center;
    margin-bottom: 20px;
    height: 40px;
    padding: 10px;
    border: 1px solid #a1a1a1;

}
.contact textarea {
    height: 80px;
}
.contact button {
    width: 80%;
    float: center;
    margin-bottom: 20px;
   height: 40px;
   padding: 10px;
   background: #6731e7;
   color: #fff;
   border: none;
   font-size: 16px;
}
.contact h3{
    font-size: 26px;
    text-align: center;
    margin-top: 60px;
    color: #412df7;
}
.contact h4 {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}
.contact p {
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}