/*****COMMON CSS SECTION*****/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}


html{
    scroll-behavior: smooth;

}
a{
    text-decoration: none;

}

html,body
{
    font-size: 14px;
    font-weight: 400;
    background: #8dbcd3;
    color: #323133;
}
.container {
    width: 1100px;
    margin: 0px auto;
    display: table;
}


.nav {
    width: 66%;
    float: left;
}
.nav a{
    font-weight: bold;
    font-size: 20px;
}
/******MENU SECTION******/
.main_panel {
    width: 100%;
    float: left;
    padding-top: 20px;
    padding-bottom: 50px;
    height: 100vh;
}

.content{
    margin-top: 80px;
}

.indexicon{
    color: blue;
    margin: 5px;
}
.logo {
    width: 33%;
    float: left;
    font-size: 40px;
    font-weight: 600;
}

.span-col {
    color: #0e89db;
}

nav {
    float: right;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    color: rgb(27, 42, 253);
}
/*****MAIN BANNER*****/
.width-50 {
    float: left;
    width: 50%;
}
.banner-section {
    width: 100%;
    float: left;
    margin-top: 25vh;
}
.banner-section h1 {
    font-size: 48px;
    margin-top: 10px;
    font-weight: bolder;
}
.banner-section h2 {
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
    font-weight: 400;
}
.banner-section a {
    float: left;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid#4335ff;
    color: #5430f3;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    line-height: 50px;
}
/******MAIN BANNER IMAGE******/
.main_panel img {
    margin-top: 10%;
    width: 100%;
    margin-left: 10%;
    padding: 0px 50px;
}


/******FOOTER SECTION******/
.footer {
    background-color: #382bf7;
    padding: 30px 0px 40px 0px;
    width: 100%;
    float: left;
}
.footer_sect{
    color: #b3b3b3;
}
.footer_sect a {
    color: #b3b3b3;
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}
.social_icon a i {
    width: 50px;
    height: 50px;
    border: 1px solid#cdcdcd;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50;
}


.icon{
    height: 20px;
    width: 20px;
}